doctype html
<!--[if lt IE 7]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|(IE)]><!--><html lang="ru"><!--[endif]-->
html(lang="en")
  head
    meta(charset="utf-8")
    title LawA
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    link(href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed" rel="stylesheet")
    link(href="styles/font-awesome.min.css" rel="stylesheet")
    link(rel="stylesheet", media="all", type="text/css", href="style.css")

  body
    .wrraper
      include includes/_header
      main.clearfix
        block content
      include includes/_footer
    <!-- scripts -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <!-- endbower -->
    script(src="js/libs.js")
    script(src="js/common.js")
    script(src="js/slider.js")