footer
  .topfooter
    .container
      .row
        .col-xs-12.col-sm-4.col-md-4
          p.
              topfooter
        .col-xs-12.col-sm-4.col-md-4
          p.
              topfooter
        .col-xs-12.col-sm-4.col-md-4
          p.
              topfooter
  .subfooter
    .container
      .row
        .col-md-6
          p.
            subfooter
        .col-md-6
          p.
            subfooter