footer
  .topfooter
    .container
      .row
        .col-xs-12.col-sm-6.col-md-4
          .f_widget
            h3.
              Widget title
            p.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
        .col-xs-12.col-sm-6.col-md-4
          .f_widget
            h3.
              Widget title
            ul
              li
                img(src="" alt="pict")
                a(href="#1") 
                  |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                  span 3 min ago
              li
                img(src="" alt="pict")
                a(href="#1") 
                  |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                  span 3 min ago
              li
                img(src="" alt="pict")
                a(href="#1") 
                  |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                  span 3 min ago
        .col-xs-12.col-sm-12.col-md-4
          .f_widget
            h3.
              Widget title
            p
              i(class="fa fa-map-marker" aria-hidden="true")
              ul.adres
                li
                  <strong>Address:</strong> Lorem ipsum Lorem ipsum Lorem ipsum
                li
                  <strong>City:</strong> Lorem ipsum
                li.
                  Україна
                li
                  <strong>ZipCode:</strong> 18345
            p
              i(class="fa fa-mobile" aria-hidden="true")
              span.
                093-123-45-67
            p
              i(class="fa fa-envelope" aria-hidden="true")
              span.
                antonkrasov.ukr.net
            p
              i(class="fa fa-skype" aria-hidden="true")
              span.
                anton        
  .subfooter
    .container
      .row
        .col-xs-12.col-sm-6.col-md-6
          p.
            &copy; 2017
        .col-xs-12.col-sm-6.col-md-6
          ul
            li
              a(href="#").f_facebook
                i(class="fa fa-facebook-official" aria-hidden="true")
            li
              a(href="#").f_skype
                i(class="fa fa-skype" aria-hidden="true")
            li
              a(href="#").f_youtube
                i(class="fa fa-youtube" aria-hidden="true")
                
